#h{
    visibility: hidden; 
}

#k{
    visibility: hidden;
}

#s{
    visibility: hidden;
}

#submit-area{
    visibility: hidden;
}

#answer-right-or-wrong{
    visibility: hidden;
}


	#you{

	color: gray;

	}
	#them{

	color: blue;

	}